


.header{
  background-color: var(--seconday-color);
  color:var(--primary-text-color);
  padding-top: 5px;
  padding-left: 25px;
  height: 30%;

}

.header-details{
  background-color: var(--primary-color);
  color:var(--primary-text-color);
  padding: 10px;
  padding-left: 25px;
  height: 70%;
  display: flex;
   align-items: center;
   justify-content: space-between;
}
.button-group{
  display: flex;
}

