
<div class="header">
  Business Process flow
</div>

<div class="header-details">
  <p>
  Opportunity Sales Process
</p>

<div class="button-group">
  <button-bar text="save" icon="save"></button-bar>
  <button-bar text="validation" icon="save"></button-bar>
  <button-bar text="Save as" icon="save"></button-bar>
  <button-bar text="Activate" icon="save"></button-bar>
  <button-bar text="Order Process" icon="save"></button-bar>
  <button-bar text="Edit Security" icon="save"></button-bar>
</div>
</div>
